<a href="https://colab.research.google.com/github/Niyati223/Niyati223/blob/main/practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

creating our own DataFrame

In [1]:
import numpy as np
import pandas as pd
import datetime

creating the dataframe

In [2]:
students=['alice','bob','fernanda','emily','charlie']

In [3]:
scores=[90,80,50,60,65]

In [4]:
examresults=pd.DataFrame(
    {
        "Names":students,
        "Scores" : scores
    
    }
)

In [5]:
examresults

      Names  Scores
0     alice      90
1       bob      80
2  fernanda      50
3     emily      60
4   charlie      65

using loc funtion

In [6]:
examresults.loc[0,'Scores']

90

In [7]:
examresults.loc[:,'Scores']

0    90
1    80
2    50
3    60
4    65
Name: Scores, dtype: int64

In [8]:
examresults.loc[3,:]

Names     emily
Scores       60
Name: 3, dtype: object

In [9]:
examresults['Scores']

0    90
1    80
2    50
3    60
4    65
Name: Scores, dtype: int64

In [10]:
examresults['Names']

0       alice
1         bob
2    fernanda
3       emily
4     charlie
Name: Names, dtype: object

Adding a new column

In [11]:
gender=['female','male','female','female','male']

In [15]:
examresults['gender']=gender

In [16]:
examresults['gender']

0    female
1      male
2    female
3    female
4      male
Name: gender, dtype: object

In [17]:
examresults

      Names  Scores  gender
0     alice      90  female
1       bob      80    male
2  fernanda      50  female
3     emily      60  female
4   charlie      65    male

Remove columns

In [18]:
examresults.drop('Names',axis=1)

   Scores  gender
0      90  female
1      80    male
2      50  female
3      60  female
4      65    male

In [19]:
examresults

#if we want it to delete permanently then use 'inplace=True'
#examresults.drop('Names',axis=1,inplace=True)

      Names  Scores  gender
0     alice      90  female
1       bob      80    male
2  fernanda      50  female
3     emily      60  female
4   charlie      65    male

Column Names and row indexes

In [20]:
examresults.columns

Index(['Names', 'Scores', 'gender'], dtype='object')

In [21]:
examresults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Names   5 non-null      object
 1   Scores  5 non-null      int64
 2   gender  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [22]:
examresults.describe()

          Scores
count   5.000000
mean   69.000000
std    15.968719
min    50.000000
25%    60.000000
50%    65.000000
75%    80.000000
max    90.000000

Renaming the Column Name

In [24]:
examresults.rename({'Names':'FirstName'},axis=1)

  FirstName  Scores  gender
0     alice      90  female
1       bob      80    male
2  fernanda      50  female
3     emily      60  female
4   charlie      65    male

In [25]:
examresults
#if we want it to change permanently use the 'inplace=True'
#examresults.rename({'Names':'FirstName'},axis=1,inplace=True)

      Names  Scores  gender
0     alice      90  female
1       bob      80    male
2  fernanda      50  female
3     emily      60  female
4   charlie      65    male

Dealing with Missing Values

In [26]:
#create a new DataFrame
sparse=pd.DataFrame(
    {
        'a':[1,2,3],
        'b':[np.nan,4,np.nan],
        'c':[5,np.nan,np.nan]
    }
)

In [27]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [28]:
#to check the null values,it returns the boolean values
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [29]:
#we can fill the missing values with 0 as
sparse.fillna(0)

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [30]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [31]:
sparse.dropna(axis=1)

   a
0  1
1  2
2  3

In [32]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

Using Group by

In [33]:
examresults

      Names  Scores  gender
0     alice      90  female
1       bob      80    male
2  fernanda      50  female
3     emily      60  female
4   charlie      65    male

In [34]:
examresults.groupby('gender').mean()

           Scores
gender
female  66.666667
male    72.500000

In [57]:
mylist=[1,2,1,2]

In [39]:
examresults

      Names  Scores  gender
0     alice      90  female
1       bob      80    male
2  fernanda      50  female
3     emily      60  female
4   charlie      65    male

In [41]:
above_70 =examresults['Scores'] > 70
above_70

0     True
1     True
2    False
3    False
4    False
Name: Scores, dtype: bool

In [42]:
examresults.groupby(above_70).mean()

           Scores
Scores
False   58.333333
True    85.000000

In [54]:
contacts = pd.DataFrame(
    {
     'Names' :['alice','charlie',] ,
     'Tel'  :['+91 999 999 99 99', '+91 888 888 88 88'] 
    }
)

In [55]:
contacts

     Names                Tel
0    alice  +91 999 999 99 99
1  charlie  +91 888 888 88 88

In [56]:
examresults.merge(contacts, left_on='Names', right_on='Names')  # defaults to inner jon

     Names  Scores  gender                Tel
0    alice      90  female  +91 999 999 99 99
1  charlie      65    male  +91 888 888 88 88

In [53]:
examresults.merge(contacts, left_on='Names', right_on ='Names', how ='outer')

      Names  Scores  gender                Tel
0     alice    90.0  female                NaN
1       bob    80.0    male                NaN
2  fernanda    50.0  female                NaN
3     emily    60.0  female                NaN
4   charlie    65.0    male                NaN
5     Alice     NaN     NaN  +91 999 999 99 99
6   Charlie     NaN     NaN  +91 888 888 88 88